/* external css: flickity.css */
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel-cell { width: 100%; background-size: cover; height: 50vh; min-height: 250px; }

.button { position: absolute; top: 30px; right: 100px; background-color: #555; color: white; font-size: 16px; padding: 12px 24px; border: none; cursor: pointer; border-radius: 5px; text-align: center; z-index: 2; }

.progress-bar { height: 20px; width: 0; background: #333; }

.container { max-width: 1200px; width: 80vw; height: 20%; margin: 2% auto; text-align: center; padding: 10% 0; background: #000; opacity: 0.5; color: white; }

@media (max-width: 968px) { .container { max-width: 1200px; width: 50vw; height: 80%; margin: 2% auto; text-align: center; padding: 10% 0; background: #000; opacity: 0.5; color: white; } }

@media (max-width: 767px) { .button { top: 5px; } }
